/assets/fonts/licenses/ZCOOLKuaiLe-OFL-1.1.txt text eol=lf
/assets/fonts/licenses/NotoSans-OFL-1.1.txt text eol=lf
/assets/fonts/licenses/NotoSansMath-OFL-1.1.txt text eol=lf
/assets/rig/v1/source/eye-neutral-v1/authoring.json text eol=lf
